/* style du site general */
* {
  box-sizing: border-box; /* pour maîtriser width et flex-basis */
}

html {
  display: flex; flex-direction: column; /* correction bug IE de min-height non appliqué à body */
}
body {
display: flex; /* crée un contexte flex pour ses enfants */
flex-direction: column; /* affichage vertical */
min-height: 100vh; /* toute la hauteur du viewport */
padding: 1em;
color:#FBC31A;/*#FFDB70*/
margin:5; /*evite barre defilement*/
background-color: black;
background-size:20%;
background-position:90% 3%;
background-attachment:fixed;
background-repeat:no-repeat;
font-family : Century Schoolbook L;
text-align:justify;
}

.wrapper {
  flex: 1 1 auto; /* occupe la hauteur restante */
  display: flex; /* crée un contexte flex pour ses enfants */
}

nav,
aside {
  width: 10em;
}

#visuel {
  flex: 1; /* occupe la largeur restante */
}

nav {
  order: -1; /* nav s'affiche en premier */
}





footer a {color:#9C622E;}
footer a:hover {color:#FED789;}


footer {
margin-left:10%;
margin-right:10%;
background-color:black;
text-align:center;
font-size:15px;
color:#FBC31A;
border-style:double;
}


.cachee {
display:none;}

H1 {
font-size: 40px;
text-align:center;
margin-top:-100px;
}
H2 {
font-size:20px;
}

p {
font-size:13px;
}

/* mise en page du header */

#TitreSoul {
padding:15px;
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
justify-content: space-around;
}

#TitreSoul #bann1 {
  width:50%;
  position:relative;
  left:-550px;
  text-align:left;
  webkit-animation:step1 8s linear 8s infinite alternate;
	-moz-animation:step1 8s linear 8s infinite alternate;
			animation:step1 8s linear 8s infinite alternate;
}

		@-webkit-keyframes step1{ 
			from {opacity:1;}
			to {opacity :0;}
		    }
		@-moz-keyframes step1{ 
			from {opacity:1;}
			to {opacity :0;}
            }
            
#TitreSoul #bann2{
	width:50%;	
	position : relative;
	right:-100px;
	text-align:left;
	-webkit-animation:step2 8s linear 8s infinite alternate;
	-moz-animation:step2 8s linear 8s infinite alternate;
			animation:step2 8s linear 8s infinite alternate;
			}
@-webkit-keyframes step2{ 
			from {opacity:0;}
			to {opacity :1;}
		    }
		@-moz-keyframes step2{ 
			from {opacity:0;}
			to {opacity :1;}	
            }

#logo{
  width:90%;
  position:relative;
  text-align:right;
  top:-150px;
  left:-150px;
  
}

#aside1{
width:20%;
border:3px solid;
border-color: #696969 #204a87 #204a87 #696969 ;
text-align:center;
background-color:#FFDB8C;
color:black;
}


#visuel {
max-width:800px;
max-height:587px;
min-width:200px;
min-height:147px;
}
#visuelSon {
width:80%;
max-width:800px;
max-height:587px;
min-width:200px;
min-height:147px;
}
#centre {
padding:10px;
display: flex;
justify-content: space-around;
align-items: center;
}

/*===========MENU ===============*/

#menu ul {
display:block;
width:20%;
padding:10;
margin:0;
list-style-type:none;
text-align:center;
}

#menu li {
list-style-type: none; 
position: relative;
display:block;
width:200px;
padding:0;
background-color:#FFDB8C; 
border:1px solid;
border-color: #696969 #204a87 #204a87 #696969 ;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

#menu a {
 display:block;
 width:200px;
 background-color:#FFDB8C ;
 text-decoration:none;
 text-align:center;
 color:black;
 border:1px solid;
 border-color:#204a87 #696969 #696969 #204a87;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
 }

#menu ul ul {display:none;
position: absolute;
left: 200px;
top: 0px;
margin: 0px; 
padding: 0px;
}

#menu li a:hover {
background-image:linear-gradient(to right,#9B4A0B,#FFDB8C);
background-image:-webkit-linear-gradient(to right,#9B4A0B,#FFDB8C);
background-image:-moz-linear-gradient(to right,#9B4A0B,#FFDB8C);
} 
 
#menu ul li ul { 
display:none;
}
 
#menu ul li:hover ul {
display:block;
}

#menu li:hover ul li {
float:none;
}

#menu li ul {
position:absolute;
}

/* Responsive (fenêtres de moins de 640px) */

@media (max-width: 640px) {
  .wrapper {
    flex-direction: column; /* affichage vertical */
  }
  nav,
  aside {
    width: auto; /* pour écraser la valeur 10em */
  }
  nav,
  aside,
  article {
    flex-basis: auto; /* pour écraser la valeur 0, due au flex: 1 */
  }
  nav {
    order: 0; /* nav reprend sa place */
  }
}
